<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    {% block css %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-dark bg-dark border-bottom">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('home') }}">User Management</a>
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                {% if user is not empty %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('users.logout') }}">Log out ({{ user.name }})</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div id="content" class="container mt-4 mb-4">
        {% include 'partials/flash.twig' %}
        {% block content %}{% endblock %}
    </div>
    {% block scripts %}{% endblock %}
</body>
</html>
