{% extends 'layouts/default.twig' %}

{% block title %}Add User{% endblock %}

{% block content %}
<h1>Add User</h1>
<div class="card">
    <div class="card-header">Add User</div>
    <div class="card-body">
        <form method="POST">
            <input type="hidden" name="_METHOD" value="POST">

            <div class="form-group row">
                <label for="name" class="col-md-4 col-form-label text-md-right">Name</label>
                <div class="col-md-6">
                    <input type="text" id="name" class="form-control" name="name" value="{{ name|default('') }}" required autofocus>
                </div>
            </div>

            <div class="form-group row">
                <label for="username" class="col-md-4 col-form-label text-md-right">Username</label>
                <div class="col-md-6">
                    <input type="text" id="username" class="form-control" name="username" value="{{ username|default('') }}" required>
                </div>
            </div>

            <div class="form-group row">
                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                <div class="col-md-6">
                    <input type="password" id="password" class="form-control" name="password" value="{{ password|default('') }}" required>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6 offset-md-4">
                    <div class="form-check">
                        <input type="hidden" name="is_enabled" value="0">
                        <input type="checkbox" id="enabled" class="form-check-input" name="is_enabled" value="1" {% if is_enabled|default('1') %}checked{% endif %}>
                        <label class="form-check-label" for="enabled">Enabled</label>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6 offset-md-4">
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
