{% extends 'layouts/default.twig' %}

{% block title %}View User{% endblock %}

{% block content %}
<h1>View User</h1>
<div class="card">
    <div class="card-header">View User</div>
    <div class="card-body">
        <dl class="row">
            {% for key, val in user %}
                <dt class="col-sm-3">{{ key }}</dt>
                <dd class="col-sm-9">{{ val }}</dd>
            {% endfor %}
        </dl>
    </div>
</div>
{% endblock %}
